{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "modules": "commonjs"
        }
      }
    ]
  ],
  "plugins": [
    ["import", { "libraryName": "antd" }],
    ["transform-define", "./env-config.js"]
  ]
}
